.sidebar {
  width: 240px;
  background: #ffffff;
  padding: 20px;
  border-right: 1px solid #eee;
  height: 100vh;
}

.logo {
  color: #2563eb;
  font-weight: bold;
}

.menu-title {
  font-size: 12px;
  margin-top: 25px;
  color: gray;
}

.menu-item {
  padding: 10px;
  margin-top: 5px;
  cursor: pointer;
  border-radius: 8px;
}

.menu-item:hover {
  background: #f3f4f6;
}

.active {
  background: #e0e7ff;
  color: #2563eb;
}
